[package]
name = "pyrtls"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
rust-version = "1.63"

[lib]
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.20"
rustls = "0.21"
rustls-native-certs = "0.6.2"
rustls-pemfile = "1"
socket2 = "0.5"
webpki-roots = "0.26"

[dev-dependencies]
anyhow = "1"
rcgen = "0.11.3"
