name: Publish

on:
  push:
    tags: ["v*"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64
          - os: ubuntu-latest
            target: x86
          - os: windows-latest
            target: x64
          - os: windows-latest
            target: x86
          - os: macos-latest
            target: aarch64
          - os: macos-latest
            target: x64

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --locked --out dist --find-interpreter
          sccache: "true"
          manylinux: auto
      - run: ls -l dist/
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.target }}
          path: dist
          overwrite: true

  release:
    environment: "Publish wheels"
    name: Release
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: wheels-ubuntu-latest-x86_64
      - uses: actions/download-artifact@v6
        with:
          name: wheels-ubuntu-latest-x86
      - uses: actions/download-artifact@v6
        with:
          name: wheels-windows-latest-x64
      - uses: actions/download-artifact@v6
        with:
          name: wheels-windows-latest-x86
      - uses: actions/download-artifact@v6
        with:
          name: wheels-macos-latest-aarch64
      - uses: actions/download-artifact@v6
        with:
          name: wheels-macos-latest-x64
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        with:
          command: upload
          args: --non-interactive --skip-existing *
